<% content_for :head do %>
    <%= javascript_include_tag 'dogs', "data-turbolinks-track" => false  %>
<%end%>

<%= form_for @dog do |f| %>
    <% @dog.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>

    <p>
      <%= f.label :sex %>
      <%= f.select :sex, [['Male', 'male'],['Female', 'female']], prompt: 'Gender...' %>
    </p>
    <p>
      <%= f.label :titles %>
      <%= f.text_field :titles %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :birth_date %>
      <%#= f.datetime_field :birth_date, "id" => "datepicker", :value => (@dog.birth_date.blank? ? 'dd/mm/yyyy' :@dog.birth_date.strftime('%d/%m/%Y')) %>
      <%= f.text_field :birth_date, "id" => "datepicker", :value => (@dog.birth_date.blank? ? 'dd/mm/yyyy' :@dog.birth_date.strftime('%d/%m/%Y')) %>

    </p>
    <%= f.submit %>
<% end %>
