<small>Owned by <%= @dog.user.try :email %> </small>
<h2><%= @dog.name %></h2>

<table width="20%" border="1" cellspacing="1">
  <tr>
    <th>Sex</th>
    <th>Titles</th>
    <th>Birth Date</th>
  </tr>
  <tr>
    <td><%= @dog.sex %></td>
    <td><%= @dog.titles %></td>
    <td><%= @dog.birth_date.strftime('%d/%m/%Y') %></td>
  </tr>
</table>