<% content_for :head do %>
    <%= stylesheet_link_tag "dogs", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'filter' %>
<%end%>
<div class="row">
    <div class="col-md-4">
      <%= image_tag(@dog.image_url, class: "imgDog img-thumbnail") if @dog.image.present? %>
    </div>
    <div class="col-md-8 textDog">
      <ul >
          <li><label>Name: </label><%= @dog.name %></li>
          <li><label>Sex: </label><%= @dog.sex %></br></li>
          <li><label>CH: </label><%= @dog.titles %></br></li>
          <li><label>Birthdate: </label><%= @dog.birth_date.strftime('%d/%m/%Y') %></br></li>
          <li><label>Owner: </label><%= @dog.user.try :email %></br></li>
          <li>
      </ul>
    </div>
  <div class="col-md-2 editDog"><%= link_to "Edit Dog", edit_dog_path, class: "glyphicon glyphicon-pencil link" %></div>
</div>

