<% content_for :head do %>
    <%= stylesheet_link_tag "dogs", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'filter' %>
<%end%>
<div class="row card">
    <div class="col-md-4">
      <%= image_tag(@dog.image_url, class: "imgDog img-thumbnail") if @dog.image.present? %>
      <% if current_user.try(:admin?) || ( current_user.try(:id) == @dog.user_id && current_user.try(:cahoot?)) %>
        <%= link_to "Edit Dog", edit_dog_path, class: "glyphicon glyphicon-pencil link editDog" %>
      <% end %>
    </div>
    <div class="col-md-5 textDog">
      <ul >
          <li class="information"><label class="fields">Name: </label><%= @dog.name %></li>
          <li class="information"><label class="fields">Sex: </label><%= @dog.sex %></br></li>
          <li class="information"><label class="fields">CH: </label><%= @dog.titles %></br></li>
          <li class="information"><label class="fields">Birthdate: </label><%= @dog.birth_date.strftime('%d/%m/%Y') %></br></li>
          <% if user_signed_in? %>
            <li class="information"><label class="fields">Owner: </label><%= link_to @dog.user.try(:email), user_path(@dog.user) %></br></li>
          <% end %>
      </ul>
    </div>

    <div class="col-md-3">
      <%= image_tag("huella.png", class: "footprint") %>
    </div>
    <div class="col-md-12 resultDog">
      <table class="table table-hover table-striped">
        <tr>
          <th colspan="8" style="text-align:center">Dog's results</th>
        </tr>

        <tr>
          <th>Exhibition</th>
          <th>Date</th>
          <th>Award</th>
          <th>Points</th>
          <th>Dog</th>
          <th>Status</th>
          <th></th>
          <th></th>

        </tr>

        <% i=0 %>
        <% @results.each do |result| %>
            <tr>
              <td><%= link_to result.exhibition.try(:name), exhibition_path(result.exhibition) %>
              </td>
              <td><%= result.exhibition.try(:date).strftime('%d/%m/%Y') %></td>
              <td><%= result.award.try(:award) %></td>
              <td><%= @points[i] %></td>
              <td><%= result.dog.try(:name) %></td>
              <td><%= result.status %></td>
              <td><% if can? :edit, result %>
                    <%= link_to("Edit", edit_admin_result_path(result) ) %>
                <% end %>
              </td>
              <td><% if can? :destroy, result %>
                    <% if result.status == 'Pending' || result.status == 'Rejected' || current_user.try(:admin?) %>
                      <%= link_to("Delete", result, method: :delete, data: {confirm: 'Are you sure you want to delete this result'} ) %>
                    <% end %>
                <% end %>
              </td>
              <% i= i + 1 %>
            </tr>
        <% end %>
      </table></br>
    </div>
</div>

