<h2 class="title">Results of <%= @result.dog.user.email %></h2>

<table  class="table table-hover table-striped">
  <tr>
    <th>Exhibition</th>
    <th>Award</th>
    <th>Dog</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= @result.exhibition.name %></td>
    <td><%= @result.award.award %></td>
    <td><%= @result.dog.name %></td>
    <td><%= @result.status %></td>
    <td><%= link_to("Edit", edit_admin_result_path(result)) %></td>
    <td><%= link_to("Delete", result, method: :delete, data: {confirm: 'Are you sure you want to delete this result?'} ) %></td>
  </tr>
</table>

<%= link_to("Edit Result", edit_admin_result_path, class: "glyphicon glyphicon-pencil link")  %>