<h2><%= @exhibition.name %></h2>

<table class="table table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Type</th>
    </tr>
    <tr>
        <td><%= @exhibition.name %></td>
        <td><%= @exhibition.date %></td>
        <td><%= @exhibition.type.name %></td>
    </tr>
</table>

<%= link_to("Edit Exhibition", edit_exhibition_path, class: "glyphicon glyphicon-pencil")  %>