<h1>Exhibitions#show</h1>
<h2><%= @exhibition.name %></h2>

<%= link_to("Edit Exhibition", edit_exhibition_path)  %>
<table width="20%" border="1" cellspacing="1">
    <tr>
        <th>Exhibition Name</th>
        <th>Date</th>
        <th>Type</th>
    </tr>
    <tr>
        <td><%= @exhibition.name %></td>
        <td><%= @exhibition.date %></td>
        <td><%= @exhibition.type.name %></td>
    </tr>
</table>
