<h2>Profile of <%= @user.email %></h2>

<h2><%= image_tag(@user.image_url) if @user.image.present? %></h2>

<%= link_to("Edit User", edit_user_path, class: "glyphicon glyphicon-user")  %>

<table class="table table-hover table-striped">

<% @userdogs.each do |dogs| %>
  <tr>
    <th colspan="5" style="text-align:center">Dogs of <%= @user.email %></th>
  </tr>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Sex</th>
    <th>CH</th>
    <th>Birthdate</th>
  </tr>
  <tr>
    <td><%= link_to image_tag(dogs.image, class: "imageDog"), dog_path(dogs) %></td>
    <td><%= link_to dogs.name, dog_path(dogs) %></td>
    <td><%= dogs.sex %></td>
    <td><%= dogs.titles %></td>
    <td><%= dogs.birth_date %></td>
  </tr>
</table>
 <% end %>
</tr>