<h2 class="title">Profile of <%= @user.email %></h2>

<h2><%= image_tag(@user.image_url, class: "imageUser") if @user.image.present? %></h2>

<% if current_user.try(:admin?) || current_user.try(:id) == @user.id %>
    <%= link_to("Edit User", edit_user_path, class: "glyphicon glyphicon-user link editUser") %></p>
<% end %>
<table class="table table-hover table-striped">

<% @userdogs.each do |dogs| %>
  <tr>
    <th colspan="5" style="text-align:center">Dogs of <%= @user.email %></th>
  </tr>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Sex</th>
    <th>CH</th>
    <th>Birthdate</th>
  </tr>
  <tr>
    <td><%= link_to image_tag(dogs.image, class: "imageDog"), dog_path(dogs) %></td>
    <td><%= link_to dogs.name, dog_path(dogs) %></td>
    <td><%= dogs.sex %></td>
    <td><%= dogs.titles %></td>
    <td><%= dogs.birth_date.strftime('%d/%m/%Y') %></td>
  </tr>
</table>
 <% end %>
</tr>