<div id="formulario">
<%= form_for @result, html: {multipart: true, "data-ajax" => "false", class: "form"} do |f| %>
    <div  class="alert alert-error msgAlert">
        <% @result.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :exhibition_id, class: "control-label" %>
      <%= f.collection_select(:exhibition_id, Exhibition.all, :id, :name,{ prompt: 'Exhibition...', :selected =>@selected},{class: "form-control", style: "width:20%;", id:"exhibition", onchange: 'showAwards()'}) %>
    </div>
    <div id="awards" class="form-group">
      <%= f.label :award_id, class: "control-label" %>
      <%= f.collection_select :award_id, Award.where(id: @points), :id, :award, {prompt: 'Award...'}, {class: "form-control", style: "width:20%;"} %>
    </div>
    <div class="form-group">
      <%= f.label :dog_id, class: "control-label" %>
      <%= f.collection_select :dog_id, Dog.find_all_by_user_id(current_user), :id, :name, {prompt: 'Dog...'}, {class: "form-control", style: "width:20%;"} %>
    </div>

    <%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>
