<% i=0 %>
<%= content_tag_for :tr, result do %>
    <td><%= result.exhibition.try(:name) %></td>
    <td><%= result.exhibition.try(:date).strftime('%d/%m/%Y') %></td>
    <td><%= result.award.try(:award) %></td>
    <td><%= @points[i] %></td>
    <td><%= result.dog.try(:name) %></td>
    <td><%= result.status %></td>
    <td><% if result.status == 'Pending' || result.status == 'Rejected' || current_user.admin? %>
          <%= link_to("Delete", result, method: :delete, data: {confirm: 'Are you sure you want to delete this result'} ) %>
        <% end %>
    </td>
    <% i= i + 1 %>
<% end %>
