<h2 class="title">My dogs' results</h2>
<table class="table table-hover table-striped">
  <tr>
    <th>Exhibition</th>
    <th>Date</th>
    <th>Award</th>
    <th>Points</th>
    <th>Dog</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>


  <% i=0 %>
  <% @results.each do |result| %>
      <tr>
      <td><%= link_to result.exhibition.try(:name), exhibition_path(result.exhibition) %></td>
      <td><%= result.exhibition.try(:date).strftime('%d/%m/%Y') %></td>
      <td><%= result.award.try(:award) %></td>
      <td><%= @points[i] %></td>
      <td><%= link_to result.dog.try(:name), dog_path(result.dog) %></td>
      <td><%= result.status %></td>
      <td><% if can? :edit, result %><%= link_to "Edit", edit_admin_result_path(result) %><% end %></td>
      <td><% if can? :destroy, result %>
            <% if result.status == 'Pending' || result.status == 'Rejected' || current_user.try(:admin?) %>
              <%= link_to("Delete", result, method: :delete, data: {confirm: 'Are you sure you want to delete this result'} ) %>
            <% end %>
        <% end %>
      </td>
      <% i= i + 1 %>
      </tr>
  <% end %>

</table></br>
<% if can? :new, Result %>
  <%= link_to("New Result", new_result_path, class: "glyphicon glyphicon-plus link" ) %>
<% end %>