<h2>Resultado de <%= @result.dog.user.email %></h2>

<table  class="table table-hover table-striped">
  <tr>
    <th>Exposición</th>
    <th>Premio</th>
    <th>Perro</th>
    <th>Estado</th>
  </tr>
  <tr>
    <td><%= @result.exhibition.name %></td>
    <td><%= @result.award.award %></td>
    <td><%= @result.dog.name %></td>
    <td><%= @result.status %></td>
  </tr>
</table>
<%= link_to("Edit Result", edit_admin_result_path, class: "glyphicon glyphicon-pencil link")  %>