<h2>Results of <%= @result.dog.user.email %></h2>

<table  class="table table-hover table-striped">
  <tr>
    <th>Exhibition</th>
    <th>Award</th>
    <th>Dog</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= @result.exhibition.name %></td>
    <td><%= @result.award.award %></td>
    <td><%= @result.dog.name %></td>
    <td><%= @result.status %></td>
  </tr>
</table>
<%= link_to("Edit Result", edit_admin_result_path, class: "glyphicon glyphicon-pencil link")  %>